[defaults]

# Inventory file location
inventory = /etc/ansible/hosts

# Default remote user
remote_user = ubuntu

# Disable SSH host key checking
host_key_checking = False

# Path to roles
roles_path = /etc/ansible/roles

# Log file location
log_path = /var/log/ansible.log

# Number of parallel forks
forks = 5

# Timeout for SSH connections
timeout = 30


[privilege_escalation]

# Enable sudo
become = True
become_method = sudo
become_user = root
become_ask_pass = False